@import "tailwindcss";


body {
  background-color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}

/* .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuC887IPNlEicLekQlI6_IGobOIq9Dx40dSbxDbSfOr1LlDYWa0QtXT5VXbcpn5EvWANT66Pe8rlEn1xUlkbRab_7JH1Uv465PFhHurkjjhAXA5jQETzUYt3z5UbzczsZbmIV7QIQZMjsU2CZCnTI9NslUg_XwW2y9VlyegY-YiUpureDSI9mAR986OtGe5VD4ALg3zdnbkTQVaJP9yCOqnaE1rZ9_YDW3W_ZFtFx1lyrFLYAJxFQWIFHuA12uYCln8TYtHhJTtViyQ");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */